body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  background-image: url('https://lc-www-live-s.legocdn.com/r/www/r/catalogs/-/media/catalogs/activities/star%20wars/2016/backgrounds/lsw_activities_backgrounds_starfield_primary.jpg?l.r2=-1377126531');
  color: yellow;
  font-family: 'Rubik Mono One', sans-serif;
  /* Force the body to fill the entire screen */
  width: 100%;
  height: 100%;
  /* Hide elements that flow outside the viewable space */
  /*overflow: hidden;*/
}


button {
  margin: 5px;
  border: 0;
  font-family: 'Poller One';
  -moz-box-shadow: 0 0 3px 3px white;
  -webkit-box-shadow: 0 0 3px 3px white;
  box-shadow: 0 0 3px 3px white;
}

.header-btn button {
  margin: 15px 30px;
}

@media screen and (min-width: 800px) {

  .fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: 25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
  }

  .star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
  }

  .crawl {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 9999px;
    transform-origin: 50% 100%;
    animation: crawl 20s linear;
  }

  .widen {
    width: 200%;
  }

  .crawl > .title {
    font-size: 90%;
    text-align: center;
  }

  .crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }

  @keyframes crawl {
    0% {
      top: 0;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% {
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }
  html, body {
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .bottom-wrap{
    display: flex;
  }

  .star-wars {
    width: 400px;
  }

  .scroll-wrap {
    display: flex;
    flex-direction: column;
    width: 400px;
  }




}
