body {
  background-image: url('https://lc-www-live-s.legocdn.com/r/www/r/catalogs/-/media/catalogs/activities/star%20wars/2016/backgrounds/lsw_activities_backgrounds_starfield_primary.jpg?l.r2=-1377126531');
  color: yellow;
  font-family: 'Rubik Mono One', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}


button {
  border: 0;
  box-shadow: 0 0 3px 3px white;
  -moz-box-shadow: 0 0 3px 3px white;
  -webkit-box-shadow: 0 0 3px 3px white;
  font-family: 'Poller One';
  margin: 5px;
}

.header-btn button {
  margin: 15px 30px;
}

@media screen and (min-width:1030px) {


  .fade {
    background-image: linear-gradient(0deg, transparent, black 90%);
    min-height: 45vh;
    position: relative;
    top: 5px;
    width: 100%;
    z-index: 1;
  }

  .star-wars {
    color: #feda4a;
    display: flex;
    justify-content: center;
    height: 800px;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    position: relative;
    text-align: justify;
  }

  .crawl {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    transform-origin: 50% 100%;
    animation: crawl 30s linear infinite;
  }

  .widen {
    width: 200%;
  }

  .crawl > .title {
    font-size: 90%;
    text-align: center;
  }

  .crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }

  @keyframes crawl {
    0% {
      top: 0;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% {
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }
  html, body {
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .bottom-wrap{
    display: flex;
  }

  .star-wars {
    width: 400px;
  }

  .scroll-wrap {
    display: flex;
    flex-direction: column;
    width: 400px;
  }




}
